/*------------------------------------------------------------------
* Bootstrap Simple Admin Template
* Version: 3.0
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-------------------------------------------------------------------*/
#sidebar {
    background: linear-gradient(180deg, #2c3e50, #34495e);
    width: 260px;
    color: #ffffff;
    transition: all 0.3s;
    border-right: 1px solid #e6ecf5;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}

#sidebar .sidebar-header {
    padding: 0.4rem 1rem;
    border-bottom: 1px solid rgba(101, 109, 119, 0.16);
    max-height: 55px;
}

#sidebar ul li a {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    font-weight: 800;
    transition: all 0.3s ease;
}

#sidebar ul li a .fas {
    min-width: 20px;
    margin-right: 8px;
    text-align: center;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white on hover */
    transform: translateX(8px); /* Moves slightly right on hover */
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1); /* Adds shadow on hover */
}

#sidebar ul ul a {
    font-size: 0.9rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2); /* Maintain hover effect for active links */
}

/*sub menu active */

#sidebar ul li a.active-sub {
    color: #ffffff;
    background-color: rgb(255 255 255 / 10%);
    transform: translateX(8px);
    box-shadow: inset 3px 3px 20px 0px rgba(255, 255, 255, 0.1);
    margin: 2px;
}

#sidebar ul ul a {
    font-size: 0.9rem;
}

#sidebar ul li.active-sub > a,
a[aria-expanded="true"] {
    color: #ffffff;
    background-color: rgb(255 255 255 / 10%);
}

.small-icon{
    font-size: 0.5em; 
    vertical-align: middle;
}

@media (max-width: 768px) {
    #sidebarCollapse span {
        display: none;
    }
}

.nav-heading {
    font-size: 16px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 25px;
}